@CHARSET "ISO-8859-1";
body {
  <background="resources/images/bg1.jpg"> no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  pading
}